.blog {
  &__container {
    display: flex;
    flex-flow: column;
  }

  &__post {
    display: flex;
    flex-flow: column;

    img {
      max-width: 70vw;
      margin-left: 50%;
      transform: translateX(-50%);
    }

    h1 {
      font-size: 2.4rem;
      margin-bottom: 8px;
    }

    h2 {
      font-size: 2rem;
      margin-bottom: 8px;
    }

    p, em, code, li, a {
      font-size: 1.6rem;
      margin-bottom: 4px;
    }

    li {
      margin-left: 2rem;
      list-style: disc;
    }

    code {
      background-color: #CCC;
    }

    pre {
      margin-top: 8px;
      margin-bottom: 8px;
    }

    code span {
      font-size: 1.6rem;
    }
  }

  &Summary {
    &__container {
      display: flex;
      flex-flow: column;
      align-items: center;
      padding-bottom: 8px;
      border-bottom: 1px solid #666;
    }

    &__image {
      max-height: 20rem;
      margin: 8px;
      max-width: 100vw;
    }

    &__about_container {
      margin-left: 8px;
    }

    &__about_title {
      margin-bottom: 8px;
      font-size: 2rem;
    }
  }
}

@media (min-width: $breakpoint) {
  .blog {
    &Summary {
      &__container {
        display: flex;
        flex-flow: row;
        align-items: center;

      }
    }
  }
}
